*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0%;
}

.nav-item{
    font-family:Arial, Helvetica, sans-serif;
    }

#compra{
    color: green;
}

#conferencia{
    color: white;
}


#imagen1{
    filter: brightness(40%);
    width: 100%;
    height: 100%;
}

.contenedor{
    display: flex;
    position: relative;
    justify-content: end;
    text-align: right;
}

.texto-encima{
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: end;
    margin-top: 350px;
    color: white;
    margin-right: 4em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.btn-toolbar{
    position: absolute;
    margin-top: 200px;
    padding: 15px;
    width: 600px;
    display: flex; 
    justify-content: right;
    margin-left: -25px;
}

button{
    margin: 0px 0px 0px 10px;
}

.conocer{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
}

.oradores{
    display: flex;
    justify-content: center;
    margin-top: -15PX;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card{
    margin: 5px;
}

.lugar{
    display: flex;
    flex-direction: row;
    margin-top: 25PX;
    height: auto;
}

#imagen2{
    width: 100%;
    height: 100%;     
}

.texto-lateral{
    background-color: rgb(48, 47, 47);
    color: white;
    margin-left: 1px;
    padding: 15px 15px 0 15px;
    width: 150%;
    font-size:12.8px;
}

#btnconocemas{
    background-color: rgb(48, 47, 47);
    margin-left: 1px;
    border-color: white;
}

div.conocer{
    font-size: 11px;
}

h6{
    font-size: 30px;
}

.formulario{
    display: flex;
    justify-content: center;
    
}

span{
    text-decoration:underline;
    text-decoration-style: dotted;
    
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

textarea{
    margin-top: 20px;
}

#recordatorio{
    font-size: 13px;
    color: rgb(180, 180, 180);
}

#btnformulario{
    margin-left: 25%;  
    background-color: rgb(110, 194, 14); 
    margin-top: 10px; 
    border: none;
    height: 40px;
}

.pie{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(20, 67, 99);
    color: white;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    
}

div.col-1{
    display: flex;
    text-align: center;
    align-items: center;
       
}

#btnjs{
    border-radius: 10%;
    color: rgba(8, 8, 8, 0.788);
    font-size: small;
    font-weight: bold;
    padding: 1px;
    margin-left: 0px;  
}

#btnreact, #btnnegocios, #btnstartups {
    border-radius: 10%;
    color: rgb(255, 255, 255);
    font-size: small;
    font-weight: bold;
    padding: 2px;
    margin-left: 0px;  
}

